.container-last-activity {
    margin-top: 10px;
}

.container-activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

h5 span {
    font-size: 45%;
    vertical-align: middle;
}